#container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #e7dfdc;
  flex-direction: column;

  #header {
    min-height: 67px;
    background-color: #eeeeee;
    box-shadow: 2px 0px 4px #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #body {
    flex-grow: 1;
    // flex-basis: 67px;
    display: flex;
    flex-direction: column-reverse;
    // background-color: royalblue;
    padding: 20px 50px;
    overflow: auto;
    .message {
      margin-top: 10px;
      color: #767676;
      font-size: 15px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      .messageContent {
        background-color: white;
        padding: 10px;
        border-radius: 5px;
      }
      .time {
        text-align: right;
        color: #959698;
        font-size: 13px;
        margin-top: 5px;
      }
      &.me {
        align-items: flex-end;
        .messageContent {
          background-color: #dcf7c5;
        }
      }
    }
  }
  #footer {
    min-height: 67px;

    background-color: #f0eeed;
    display: flex;
    #smileyIcon {
      flex-basis: 50px;
    }
    #textarea {
      flex-grow: 1;
      display: flex;
      align-items: center;

      textarea {
        width: 100%;
        height: 45px;
        border: 0px;
        border-radius: 4px;
        resize: none !important;
        outline: none;
        padding: 14px;
        font-family: sans-serif;
        box-sizing: border-box;
      }
    }
    #micIcon {
      flex-basis: 50px;
    }
    #micIcon,
    #smileyIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-width: 40%;
        cursor: pointer;
      }
    }
  }
}
